// Project configuration

// Grid
$grid-max-width: 1200px;
$grid-gutter: 1.5rem;

// Typography
$type-body-font: Helvetica, sans-serif;
$type-body-size: 16px;
$type-title-font: $type-body-font;

$type-leading: 1.5;
$type-rhythm: $type-leading / 4;
$type-scale: 1.25;
