<meta charset="utf-8" />

<title>{{site.title}}{% block title %}{% endblock %}</title>

<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0" />

<link rel="shortcut icon" href="assets/img/favicon.ico">
<link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">

<link href="//fonts.googleapis.com/css?family=Montserrat:400,700|Spinnaker" rel="stylesheet">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/assets/css/app.min.css">

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
